#s1 {
  position: relative;
  width: 2px;
  /* border-radius: 4px; */
  padding: 2px;
  height: 100vh;
  margin-top: -80vh;
  /* margin: 1rem 0 0 1rem; */
  margin-left: 50%;
  background-color: #29e;
  color: #fff;
  font-size: 1.2em;
  touch-action: none;
  z-index: 1;
  opacity: 50;
  animation: oscillaFilo1 2.9s ease-in-out 0s infinite alternate;
}

#s2 {
  position: relative;
  width: 2px;
  /* border-radius: 4px; */
  /* padding: 2px; */
  height: 100vh;
  margin-top: -90vh;
  /* margin: 1rem 0 0 1rem; */
  margin-left: 51%;
  background-color: red;
  color: #fff;
  font-size: 1.2em;
  touch-action: none;
  z-index: 0;
  /* animation: oscillaFilo1 2.9s ease-in-out 0s infinite alternate;  */
}

#s1:after {
  content: " ";
  left: -3px;
  top: 100%;
  position: absolute;
  border-bottom: 15px solid red;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  height: 0;
  width: 4px;

  /* content: "HERE" ; */
  color: green;
}

#s2:after {
  content: " ";
  left: -5px;
  top: 100%;
  position: absolute;
  border-bottom: 15px solid blue;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  height: 0;
  width: 4px;
}

@-webkit-keyframes oscillaFilo1 {
  from {
    -webkit-transform: rotate(3deg);
  }
  to {
    -webkit-transform: rotate(-3deg);
  }
}
